@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
}

/*Title Block*/
#titleBlock{
    position: relative;
    text-align: center;
}

#headerImage {
    width:99vw;
    height:100dvh;
    overflow: hidden;
    object-fit: cover;
    filter: brightness(50%);
}

#titleBlock div {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    width: 100%;
    height: 50dvh;
}

#title {
    color: #FFF;
    text-align: center;
    font-size: 128px;
    font-weight: 700;
    width: 100%;
}

#discoverButton {
    width: 250px;
    height: 50px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.55);
    border: 3px solid #07BEB8;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

@media only screen and (max-width: 1000px) {
    #title {
        font-size: 12vw;
    }
}

/*Order Tickets Button*/
#orderTicketsButton{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 10px;
    z-index: 9999;
}

#orderTicketsButton button {
    width: 95dvw;
    height: 85px;
    border-radius: 15px;
    border: none;
    background: rgba(7, 190, 184, 0.95);
    color: #FFF;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}

/*intro*/
#intro {
    padding: 15px 50px;
    background-color: #FFFFD4;
    color: black;
}

#intro p {
    margin: 6dvh 8dvw 6dvw;
    font-size: 20px;
}

#intro .col-sm {
    text-align: center;
    margin-bottom: 50px;

    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.imgNav {
    width: 250px;
    height: 250px;
    padding: 25px;
    border: none;
    border-radius: 50%;
    background-color: #A9E0DE;
    margin: 0 auto 25px;
    text-align: center;
}

.imgNav:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.imgNav img {
    width: 200px;
    height: 200px;
}

/*practical information*/
#practicalInformation {
    background: #47515C;
    color: white;
    padding: 50px 100px 100px;
    text-align: center;
}

#practicalInformation h1 {
    margin-bottom: 75px;
}

.infoCard {
    background: #A9E0DE;
    color: black;
    border-radius: 15px;
    padding: 25px 25px 0;
    margin: 0.8dvw;
    text-align: justify;
    min-height: 400px;
    font-size: 20px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    min-width: 225px;
}

#practicalInformation img {
    width: 125px;
    height: 125px;
    margin: 10px auto 35px;
}

/*schedule*/
#schedule {
    background-color: #47515C;
    padding-top: 50px;
    color: white;
    text-align: center;
}

#scheduleDescription {
    font-size: 20px;
    margin: 50px 15px;
}

.tab {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.tab button {
    width: 31dvw;
    background-color: rgba(169, 224, 222, 0.50);
    border: none;
    padding: 25px;
    border-radius: 15px 15px 0 0;
}

.tab button img {
    width: 75px;
    height: 75px;
    border-radius: 425px;
    overflow: hidden;
    object-fit: cover;
}

.tab button:hover {
    background-color: #b4cbc9;
}

.tab button.active {
    background-color: #A9E0DE;
}

.tabcontent {
    background-color: #A9E0DE;
    color: black;
    display: none;
    padding: 6px 12px 35px;
    border-top: none;
}

.tabcontent h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 25px 25px 10px;
}

.hline {
    border-top: 1px solid black;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.borderColumn {
    margin-top: 25px;
    border-right: 1px solid black;
    min-width: 250px;
}

.borderColumn:last-child {
    border: none;
}

#fullDayOfTheWeek {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

#dayOfTheWeek {
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 25px;
    line-height: 50px;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: 600;
}

/*route*/
#route {
    background-color: #FFFFD4;
    padding: 25px 100px;
}

.mapContainer {
    width: 55%;
}

#map {
    width: 100%;
    height: 625px;
}

#mapBackground {
    padding: 50px;
    width: 100%;
    min-height: 875px;
    border-radius: 25px;
    background: linear-gradient(180deg, rgba(71, 81, 92, 0.85) 0%, rgba(169, 224, 222, 0.85) 75.52%);
}

#route .col-4 img {
    width: 100%;
    border-radius: 15px;
}

.locationNames {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 6dvw;
}

.locationNames p {
    margin: 0;
}

@media only screen and (max-width: 725px) {
    .locationNames .col-6 {
        width: 100%;
    }
}

/*meeting place*/
.meetingPlace {
    width: 45%;
    padding-left: 5dvw;
}

.meetingPlace h1 {
    text-align: center;
}

.meetingPlace p, .meetingPlace a {
    font-size: 20px;
    margin: 25px;
    text-align: left;
    color: black;
}

.meetingPlaceImage {
    position: relative;
    width: 100%;
    text-align: center;
}

.meetingPlace img {
    display: block;
    width: 100%;
    height: 500px;
    border-radius: 25px;
    overflow: hidden;
    object-fit: cover;
}

.meetingPlaceImage h3 {
    border-radius: 25px 25px 0 0;
    position: absolute;
    background: rgba(71, 81, 92, 0.65);
    width: 100%;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding: 25px
}

@media only screen and (max-width: 1450px) {
    .mapContainer {
        width: 100%;
        margin-bottom: 50px;
    }

    .meetingPlace {
        width: 100%;
    }
}

/*locations*/
#locations {
    background-color: #47515C;
    color: white;
    padding: 50px 100px 100px;
}

#locationDescription {
    background-color: #FFFFD4;
    border-radius: 15px;
    color: black;
    height: 550px;
}

#locationDescription h1 {
    line-height: 150px;
    margin-left: 50px;
}

#locationDescription p {
    margin-left: 125px;
}

#locationDescription button {
    height: 100px;
    border-radius: 0 0 0 15px;
    background-color: #A9E0DE;
    border: none;
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

/*faq*/
#plusMinus {
    /*display: flex;
    width: 82.81px;
    height: 72px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
*/
    text-align: center;
    font-size: 60px;
    font-weight: 500;
}

#fAQ {
    background-color: #FFFFD4;
    padding: 50px 235px 100px;
}

#fAQ h1 {
    margin-bottom: 50px;
    text-align: center;
}

#question {
    margin: 0;
    border: 3px solid black;
    height: 75px;
}

