p {
    color: #000;
    font-family: "Montserrat", sans-serif;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

/*Header*/
.headerContainer {
    position: relative;
    text-align: center;
}

#homeHeader {
    color: #41B7B3;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 128px;

    font-weight: 700;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headerImage {
    width: 99dvw;
    height: 100dvh;
    overflow: hidden;
    object-fit: cover;
}

/*in-page navigation*/
#eventOverview {
    background-color: #FFFFD4;
    padding: 50px;
}

#eventOverview a {
    text-align: center;
    text-decoration: none;
}

#eventOverview a:hover {
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#eventOverview p {
    font-weight: 650;
    font-size: 20px;
}

#eventOverview img {
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    height: 15dvw;
}

/*schedule*/
.schedule {
    padding: 50px;
    color: white;
    background-color: #47515C;
    text-align: center;
}

.schedule .row {
    margin: 25px 5dvw 50px 5dvw;
}

.schedule .header {
    color: white;
    text-align: left;
}

.schedule .col-sm {
    height: 400px;
    padding: 25px 15px;

}

.schedule .col-sm:nth-child(odd) {
    background-color: rgba(7,190,184,0.5);
}

.schedule .col-sm:nth-child(even) {
    background-color: rgba(7,190,184,0.25);
}

.schedule .col-sm p {
    color: white;
    font-size: 22px;
    font-weight: 700;
}

/*events*/
.homeButton {
    width: 725px;
    height: 100px;
    border-radius: 15px;
    background: #47515C;
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 700;
    max-width: 80vw;
}

.homeButton:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #363F48;
}

.header {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
}



#yummy {
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #FFCECE;
}

#history {
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #FFFFD4;
}

#dance {
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #A9E0DE;
}

#teyler {
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #CEFFD0;
}