@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

p {
    color: #000;
    font-family: "Montserrat", sans-serif;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.header {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
}

/*Header*/
.headerContainer {
    position: relative;
    text-align: center;
}

#homeHeader {
    color: #41B7B3;
    text-align: center;
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
    font-family: "Montserrat", sans-serif;
    font-size: 128px;

    font-weight: 700;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headerImage {
    width: 99dvw;
    height: 100dvh;
    overflow: hidden;
    object-fit: cover;
}

/*in-page navigation*/
#eventOverview {
    background-color: #FFFFD4;
    padding: 50px;
}

#eventOverview a {
    text-align: center;
    text-decoration: none;
}

#eventOverview a:hover {
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#eventOverview p {
    font-weight: 650;
    font-size: 20px;
}

#eventOverview img {
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    height: 15dvw;
}

/*schedule*/
.schedule {
    padding: 50px;
    color: white;
    background-color: #47515C;
    text-align: center;
    height: 675px;
}

.schedule .row {
    margin: 25px 5dvw 0 5dvw;
}

.schedule .header {
    color: white;
    text-align: left;
}

.schedule .col-sm {
    height: 400px;
    padding: 25px 15px;

}

.schedule .col-sm:nth-child(odd) {
    background-color: rgba(7,190,184,0.5);
}

.schedule .col-sm:nth-child(even) {
    background-color: rgba(7,190,184,0.25);
}

.schedule .col-sm p {
    color: white;
    font-size: 22px;
    font-weight: 700;
}

.scheduleEvent {
    background-color: white;
    border-radius: 15px;
    height: 50px;
}

.schedule p {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.scheduleContainer {
    position: relative;
}

.scheduleOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay2 {
    top: 75px;
}

/*events*/
#yummy, #dance, #history {
    padding: 100px;
    height: auto;
    min-height: 800px;
}

#yummy {
    background-color: #CEFFD0;
}

#history {
    background-color: #FFFFD4;
}

#dance {
    background-color: #E0A9A9;
}

.eventImage {
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    height: 80dvh;
}

.eventDescription {
    padding-right: 6dvw;
    margin-top: 25px;
}

.eventcontent {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.homeButton {
    width: 40dvw;
    height: 100px;
    border-radius: 15px;
    background: #47515C;
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 700;
    max-width: 80vw;
}

.homeButton:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #363F48;
}

#teyler {
    padding: 100px;
    justify-content: center;
    align-items: center;
    background-color: #F5C4FD;
}

#appstore img {
    margin: 25px 25px 25px 0;
}