/*managing pages*/
.mainManageBody {
    background-color: #47515C;
    padding: 50px 15dvw;
    justify-content: center;
    color: white;
}

.mainManageBody button {
    width: 100%;
    margin: 15px 0px;
    padding: 25px;
    font-family: "Montserrat", sans-serif;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    background-color: #A9E0DE;
}

.mainManageBody .uploadButton {
    margin-top: 50px;
}

.mainManageBody button:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #84b9b7;
}

.mainManageBody .backButton {
    width: 150px;
    font-size: 16px;
    padding: 10px;
}

.manageBodyContent {
    padding: 25px 0;
}

.currentImage {
    overflow: hidden;
    object-fit: cover;
    width: 500px;
    height: 350px;
    border-radius: 15px;
}