@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

* {
    overflow-x: hidden;
    max-width: 100%;
}
.yummy {
    /*max-width: 100%;*/
    color: white;
    background-color: slategray;
}

.container {
    margin: 0;
    padding: 0;
}

.img-scale {
    height: 100dvh;
    width: 100dvw;
}

.darken {
    filter: brightness(50%);
}

.text-blue {
    color: #07BEB8;
    font-family: "Montserrat", sans-serif;
}

.yummy-text {
    font-family: "Sansita", sans-serif;
    font-weight: 800;
    font-size: 15rem;
    transform: rotate(2.5deg) translate(-50%, -50%);
    background-color: #07BEB8;
    border-radius: 5%;
}

.date-text {
    font-family: "Montserrat", sans-serif;
    font-size: 3.75rem;
    transform: rotate(2.5deg) translate(0%, 175%);
}

.caption-text {
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    transform: translateY(-125%);
}

.details-bg {
    background-color: #FFFFD4;
}

.yummy-details {
    font-family: "Montserrat", sans-serif;
    font-size: 3.75rem;
}

.yummy-details-text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    margin-left: 20dvw;
    margin-right: 20dvw;
}

.category {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 3.75rem;
    background-color: #FFFFD4;
    border-radius: 20px;
    /*min-width: 60vw;*/
    margin: auto;
    width: 75%;
}

.card, .card-img-overlay, .card-img {
    max-width: 500px;
    max-height: 1000px;
    border-radius: 20px;
}

.content-tag {
    font-family: "Montserrat", sans-serif;
    background-color: #CA2B3D;
    border-radius: 20px;
}

.rating {
    max-width: 180px !important;
    max-height: 30px !important;
}

.footer {
    position: relative !important;
}

